

/*laptop view*/
@media screen and (min-width:769px) {


    *{
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
    }
    
    html,body{
        
        height:100%;
        box-sizing: border-box;
    }
    
    #wrapper{
    
    margin:auto;
    width:80%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 0% 97% 3%;
    box-sizing: border-box; 
    }
    
    .logo{
    
         width: 80px;
         height: 80px;
    }
    
    /*main block*/
    
    .main-block{
    
        display: grid;
        grid-template-columns:14% 86%;
    
    }
    
    /*main-nav*/
    
    .main-block .main-nav{
    
        max-height: 100%;
        width: 100%;
        padding-top: 10px;
        line-height: 1.2em;
        background-color: #2f3742;
        color: #3046fc;
        font-family: Roboto;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        box-sizing: border-box;
    }
    
    .main-nav ul {
    
        list-style: none;
        
    }
    
    .main-nav .current{
    
        color: white;
        border-left: blue 5px solid;
        padding-left: 5px;
        box-sizing: border-box;
        
    }
    
    nav ul a{
        
        color:#3046fc;
        text-decoration: none;
    
    }
    
    nav ul a:hover{
        
        color: white;
        
    }
    
    
    nav ul a:active{
    
        color: cyan;
    }
    
    nav ul li{
        padding: 10px;
    }
    
    .main-block-contactme{
    
        
        float: right;
        /*width: 87%;*/
        height: 100%;
        color: black;
        font-family: Roboto;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 10% 84% 6%;
        /*border:1px red solid;*/
    }
    
    .CTop{
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 8px;
        width: 20%;
        box-sizing: border-box;
        font-family: Rajdhani;
        border:2px black solid;
        background-color:#000033;
        color:#777777;
        /*height: 15%; */
        font-size: 10px;
    }
    
    .CBottom{
        
        padding-top: 30px;
        display: grid;
        grid-template-columns:60% 40%;
        box-sizing: border-box;
    }
    
    .CBottomL,.CBottomR{
        box-sizing: border-box;
    }
    
    .CBottomL{
        display: grid;
        /*grid-template-rows: auto;*/
    }
    
    .CBottomL h3,.CBottomR h3{
    
        text-align: left;
        font-family: Roboto;
        /*padding-bottom: 8px;*/
        /*padding-top: 10px*/
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 25px;
        padding-left: 20px;
        box-sizing: border-box;
    }
    
    .CBottomL .Cicon{
    
        width:47px;
        height: 47px;
        padding-left: 15px;
        padding-bottom: 10px;
        vertical-align: -30px;
        padding-right: 10px;
    
    }
    
    .CBottomL ul{
        list-style: none;
    }
    
     .socialmedia1{
        margin:auto;
        text-align: left;
        padding-left: 7%;
    }
     
    .socialprofiles1{
    
    
        width:38px;
        height: 39px;
        display: inline-block;
        vertical-align: -13px;
        box-sizing: border-box;
    
    }
    .CBottomL label{
        
        text-decoration: none;
        padding-bottom: 10px;
        box-sizing: border-box;
    }
    /*.CBottomL{*/
        /*border:1px black solid;*/
    /*}*/
    
    .CBottomR{
        /*border:1px black solid;*/
        padding-left: 40px;
        /*line-height: 3em;*/
        box-sizing: border-box;
    }
    
    .CBottomR .forminput{
        padding:4px;
        display: block;
        border:0;
        background:transparent;
        border-bottom: 2px solid grey;
        width: 66%;
        line-height: 3.8em;
        font-weight: bold;
        font-size: 15px;
    }
    
    .CBottomR .Cbutton {
        margin-top: 50px;
        background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff
    100%); 
        background-size: 200% auto; 
        padding: 0px 35px; 
        color: #222222;
        font-weight:bold;
    }
    
    .CBottomL a{
        color: blue;
    }
    
    .CBottomL a:hover{
        color: grey;
    }
    
    .CBottomL  a:active{
        color: black;
    }
    
    .tothetop{
        width: 100%;
        height: 20%;
        /*position: absolute;*/
        box-sizing: border-box;
    
    }
    
    .tothetop .arrowhead{
        width:30px;
        height: 30px;
        float:right;
    }
    
    
    footer{
        background-color: #2f3742;
        width: 100%;
        color: white;
        font-size:0.7em;
        text-align: center;
        font-style: italic;
    }
    }
    
    
    
    /*phone view*/
    
    @media screen and (max-width:425px) {
    
    
    *{
        margin:0;
        padding: 0;
        font-size: .9rem;
        scroll-behavior: smooth;
    }
    
    html,body{
        
        height:100%;
        box-sizing: border-box;
    }
    
    /*page wrapper or container*/
    
    #wrapper{
    margin: auto;
    width:100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 0% 98% 2% ;
    
    }
    
    .logo{
    
         width: 50px;
         height: 50px;
         float: left;
    }
    
    /*side navigation menu*/
    
    .main-block{
        /*height: 100%;*/
        display: grid;
        /*grid-template-rows: 30% 70%;*/
    }
    
    .main-nav{
    
        margin: 0;
        padding: 3px;
        padding-right: 20px;
        line-height: 1.9em;
        background-color: #2f3742;
        color: #3046fc;
        font-family: Roboto;
        text-align: center;
        font-weight: bold;
        word-spacing: 2px;
        display: grid;
    }
    
    .main-nav ul #weblogo, .main-nav ul #myname{
        line-height:1.0em;
        padding-top: 10px;
    
    }
    
    .main-nav .current{
    
        color: white;
        border-left: blue 5px solid;
        padding-left: 5px;
        box-sizing: border-box;
        
    }
    
    
    .main-nav ul{
    
    
        display: grid;
        grid-template-columns:repeat(4,1fr);
        grid-gap: 3px;
        list-style: none;
        padding-left: 25px;
        float: right;
        text-decoration-style: none;
    
    }
    
    
    
    
    nav ul a{
        
        color:#3046fc;
        text-decoration: none;
    
    
    }
    
    nav ul a:hover{
        
        color: white;
        
    }
    
    
    nav ul a:active{
    
        color: cyan;
    }
    
    
    
    .main-block-contactme{
    
        float: right;
        /*width: 87%;*/
        height: 100%;
        color: black;
        font-family: Roboto;
        box-sizing: border-box;
        display: grid;
        /*grid-template-rows: 10% 90%;*/
        /*border:1px red solid;*/
    }
    
    .CTop{
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        /*padding-top: 10px;*/
        width: 25%;
        box-sizing: border-box;
        font-family: Rajdhani;
        border:2px black solid;
        background-color:#000033;
        color:#777777;
        /*height: 15%; */
        font-size: 10px;
    }
    
    
    .CBottom{
        
        padding-top: 30px;
        display: grid;
        /*grid-template-columns: 50% 50%;*/
        margin:auto;
    }
    .CBottomL h3,.CBottomR h3{
    
        text-align: center;
        font-family: Roboto;
        /*padding-bottom: 8px;*/
        /*padding-top: 10px*/
        font-weight: bold;
        font-size: 20px;
        /*padding-bottom: 25px;*/
        /*padding-left: 20px;*/
    }
    
    .CBottomL .Cicon{
    
        width:47px;
        height: 47px;
        padding-left: 15px;
        padding-bottom: 10px;
        vertical-align: -30px;
        padding-right: 10px;
    
    }
    
    /*.CBottomL{*/
        /*border:1px black solid;*/
    /*}*/
    
    .CBottomR{
        /*border:1px black solid;*/
        /*padding-left: 40px;*/
        /*line-height: 3em;*/
        width:100%; 
        margin:auto;
        padding-top: 30px;
        text-align: center;
        padding-bottom: 30px;
        
    }
    
    /*.CBottomR h3{
        margin:auto;
        text-align: center;
    }*/
    
    .CBottomL ul {
        list-style: none;
    }
    
    .CBottomR .forminput{
        margin:auto;
        padding:2px;
        display: block;
        border:0;
        background:transparent;
        border-bottom: 2px solid grey;
        width: 70%;
        line-height: 3.8em;
        font-weight: bold;
        font-size: 15px;
    }
    
    .CBottomR .Cbutton {
        margin-top: 50px;
        background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff
    100%); 
        background-size: 200% auto; 
        padding: 0px 35px; 
        color: #222222;
        font-weight:bold;
    }
    
    .CBottomL a{
        color: blue;
    }
    
    .CBottomL a:hover{
        color: grey;
    }
    
    .CBottomL  a:active{
        color: black;
    }
    
    .CBottom .socialmedia1{
        margin:auto;
        text-align: left;
        padding-left: 7%;
    }
     
     .CBottomL .socialprofiles1{
    
    
        width:38px;
        height: 39px;
        display: inline-block;
        vertical-align: -13px;
    
    }
    
    .tothetop{
        width: 100%;
        height: 20%;
        /*position: absolute;*/
        box-sizing: border-box;
    
    }
    
    .tothetop .arrowhead{
        width:30px;
        height: 30px;
        float:right;
    }
    
    footer{
        background-color: #2f3742;
        width: 100%;
        color: white;
        font-size:0.7em;
        text-align: center;
        font-style: italic;
    }
    }
    
    /*tablet view*/
    
    
    @media screen and (min-width:426px) and (max-width: 768px) {
    
    
    *{
        margin: 0;
        padding: 0;
        font-size: .9rem;
        scroll-behavior: smooth;
    }
    
    html,body{
        
        height:100%;
        box-sizing: border-box;
    }
    
    #wrapper{
    
    margin:auto;
    width:80%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 0% 97% 3%;
    box-sizing: border-box; 
    }
    
    .logo{
    
         width: 80px;
         height: 80px;
    }
    
    /*main block*/
    
    .main-block{
    
        display: grid;
        grid-template-columns:15% 85%;
    
    }
    
    /*main-nav*/
    
    .main-block .main-nav{
    
        max-height: 100%;
        width: 100%;
        padding-top: 10px;
        line-height: 1.2em;
        background-color: #2f3742;
        color: #3046fc;
        font-family: Roboto;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        box-sizing: border-box;
    }
    
    .main-nav ul {
    
        list-style: none;
        
    }
    
    .main-nav .current{
    
        color: white;
        border-left: blue 5px solid;
        padding-left: 5px;
        box-sizing: border-box;
        
    }
    
    nav ul a{
        
        color:#3046fc;
        text-decoration: none;
    
    }
    
    nav ul a:hover{
        
        color: white;
        
    }
    
    
    nav ul a:active{
    
        color: cyan;
    }
    
    nav ul li{
        padding: 10px;
    }
    
    .main-block-contactme{
    
        float: right;
        /*width: 87%;*/
        height: 100%;
        color: black;
        font-family: Roboto;
        
        display: grid;
        grid-template-rows:8% 86% 6%; 
        box-sizing: border-box;
    }
    
    .CTop{
    
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        /*padding-top: 18px;*/
        width: 20%;
        box-sizing: border-box;
        font-family: Rajdhani;
        border:2px black solid;
        background-color:#000033;
        color:#777777;
        /*height: 100%; */
        font-size: 10px;
    }
    
    .CBottom{
        
        padding-top: 10px;
        display: grid;
        grid-template-columns:67% 33%;
        box-sizing: border-box;
    }
    
    .CBottomL,.CBottomR{
        box-sizing: border-box;
    }
    
    .CBottomL{
        display: grid;
        /*grid-template-rows: auto;*/
    }
    
    .CBottomL h3,.CBottomR h3{
    
        text-align: left;
        font-family: Roboto;
        /*padding-bottom: 8px;*/
        /*padding-top: 10px*/
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 25px;
        padding-left: 20px;
        box-sizing: border-box;
    }
    
    .CBottomL .Cicon{
    
        width:47px;
        height: 47px;
        padding-left: 15px;
        padding-bottom: 10px;
        vertical-align: -30px;
        padding-right: 10px;
    
    }
    
    .CBottomL ul{
        list-style: none;
    }
    
     .socialmedia1{
        margin:auto;
        text-align: left;
        padding-left: 7%;
    }
     
    .socialprofiles1{
    
    
        width:38px;
        height: 39px;
        display: inline-block;
        vertical-align: -13px;
        box-sizing: border-box;
    
    }
    .CBottomL label{
        
        text-decoration: none;
        padding-bottom: 10px;
        box-sizing: border-box;
    }
    /*.CBottomL{*/
        /*border:1px black solid;*/
    /*}*/
    
    .CBottomR{
        /*border:1px black solid;*/
        padding-left: 40px;
        /*line-height: 3em;*/
        box-sizing: border-box;
    }
    
    .CBottomR .forminput{
        padding:4px;
        display: block;
        border:0;
        background:transparent;
        border-bottom: 2px solid grey;
        width: 66%;
        line-height: 3.8em;
        font-weight: bold;
        font-size: 15px;
    }
    
    .CBottomR .Cbutton {
        margin-top: 50px;
        background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff
    100%); 
        background-size: 200% auto; 
        padding: 0px 35px; 
        color: #222222;
        font-weight:bold;
    }
    
    .CBottomL a{
        color: blue;
    }
    
    .CBottomL a:hover{
        color: grey;
    }
    
    .CBottomL  a:active{
        color: black;
    }
    
    .tothetop{
        width: 100%;
        height: 20%;
        /*position: absolute;*/
        box-sizing: border-box;
    
    }
    
    .tothetop .arrowhead{
        width:30px;
        height: 30px;
        float:right;
    }
    
    
    footer{
        background-color: #2f3742;
        width: 100%;
        color: white;
        font-size:0.7em;
        text-align: center;
        font-style: italic;
    }
    }
    
    